<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>XX商城-购物车</title>

		<link rel="stylesheet" href="css/common.css" />
	</head>

	<body>
		<div id="app">
			<header v-text="head"></header>
			<div class="maincont">
				<h2 class="maintitle">购物车</h2>
				<div class="maintable">
					<div class="tabhead">
						<div class="tab-1">
							商品信息
						</div>
						<div class="tab-2">
							商品金额
						</div>
						<div class="tab-3">
							商品数量
						</div>
						<div class="tab-4">
							总金额
						</div>
						<div class="tab-5">
							编辑
						</div>

					</div>
					<div class="tabbody">
						<ul>
							<li v-for="(product,index) in productList">
								<div class="tab-1">
									<div class="item-check">
										<a href="javascript:;" class="a-check" v-bind:class="{'a-checked':product.checked}" v-on:click="selectedProduct(product)"></a>
									</div>
									<div class="item-pic">
										<img v-bind:src="product.productImage">
									</div>
									<div class="item-name" v-text="product.productName"></div>
								</div>
								<div class="tab-2">
									<div class="item-prise" v-text="product.productPrice "></div>
								</div>
								<div class="tab-3">
									<div class="item-quantity">
										<div class="select-self select-self-open">
											<div class="quantity">
												<a href="javascript:;" @click="changeMoney(product,-1)">-</a>
												<input type="text" v-model="product.productQuentity" disabled>
												<a href="javascript:;" @click="changeMoney(product,1)">+</a>
											</div>
										</div>
										<div class="item-stock">有货</div>
									</div>
								</div>
								<div class="tab-4">
									<div class="item-prise-t">{{product.productPrice | formatMoney(product.productQuentity)}}</div>
								</div>
								<div class="tab-5">
									<div class="item-detate">
										<a href="javascript:;" class="del-box" @click="delFlag=true; pindex=index">X</a>
									</div>
								</div>

							</li>

						</ul>

					</div>
					<div class="tabfoot">
						<div class="check-all" @click="selectAll(true)">
							<a href="javascript:;" class="a-check" :class="{'a-checked':checkAll}"></a>
							<span>
							全选
						</span>
						</div>
						<div class="del-all" @click="selectAll(false)">
							全不选
						</div>
						<div class="foot-right">
							<div class="item-total">{{totalMoney | formatMoney}}</div>
							<a href="add.html" class="btn btn-red">结账</a>
						</div>
					</div>
				</div>
			</div>
			<footer></footer>
			<div class="md-modal" :class="{'md-show':delFlag}">
				<p>是否要删除此条订单信息？</p>
				<div class="btn-box">
					<button class="btn" @click="delProduct">Yes</button>
					<button class="btn btn-red" @click="delFlag=false">No</button>
				</div>
			</div>
			<div class="md-overlay" v-if="delFlag"></div>
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script>
		<script src="js/cart.js"></script>
	</body>

</html>